body {
  background-color: yellow;
}

div {
  text-align: center;
}

h1 {
  text-align: center;
  color: green;
}

p {
  text-align: center;
  color: green;
}


@media  and screen (max-width: 1500px){
p {
  font-size:80px;
  color: blue;
}
}
