body {
  background-color: lightblue;
}

div {
  text-align: center;

}

h1 {
  text-align: center;
  color: black;
  font-family: serif;
}

#red1 {
  text-indent: 25px;
  text-align: left;
  color: black;
}

#red2 {
  text-align: center;
}
/* This is the media query section */

@media  (max-width: 960px) {
  p { font-size: 30px;

  }
}
