body {
  background-color: #3399ff;
}

div {
  text-align: center;

}

h1 {
  text-align: center;
  color: black;
  font-family: serif;
}

#red1 {
  text-indent: 25px;
  text-align: left;
  color: black;
}

#red2 {
  text-align: center;
}

#red3 {
  text-align: center;
}

#bgnBtn {
  border-radius: 20px;
  padding: 15px 30px;
  background-color: tan;
}

#bgnBtn2 {
  border-radius: 20px;
  padding: 15px 30px;
  background-color: tan;
}

#pic3 {
  float: left;
}

#red5 {
  text-align: center;

}
/* This is the media query section */

@media  (max-width: 960px) {
  p { font-size: 30px;

  }
}

@media (max-width: 960px) {
#pic3 { display: none;

}
}
